<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EdgeDetectionGpuApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>FaceDetectionCpuApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>FaceDetectionGpuApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>HandDetectionGpuApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>HandTrackingGpuApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>ObjectDetectionCpuApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>ObjectDetectionGpuApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
		<key>_idx_Scheme.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>mediapipe-objc-mediapipe_framework_ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict/>
</dict>
</plist>
